# loan Approval Prediction

In [2]:
import pandas as pd
loan=pd.read_csv('loan_data.csv')

In [3]:
loan.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22,female,Master,71948,0,RENT,35000,PERSONAL,16.02,0.49,3,561,No,1
1,21,female,High School,12282,0,OWN,1000,EDUCATION,11.14,0.08,2,504,Yes,0
2,25,female,High School,12438,3,MORTGAGE,5500,MEDICAL,12.87,0.44,3,635,No,1
3,23,female,Bachelor,79753,0,RENT,35000,MEDICAL,15.23,0.44,2,675,No,1
4,24,male,Master,66135,1,RENT,35000,MEDICAL,14.27,0.53,4,586,No,1

In [4]:
loan.shape

(45000, 14)

In [6]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  int64
 1   person_gender                   45000 non-null  object
 2   person_education                45000 non-null  object
 3   person_income                   45000 non-null  int64
 4   person_emp_exp                  45000 non-null  int64
 5   person_home_ownership           45000 non-null  object
 6   loan_amnt                       45000 non-null  int64
 7   loan_intent                     45000 non-null  object
 8   loan_int_rate                   45000 non-null  float64
 9   loan_percent_income             45000 non-null  float64
 10  cb_person_cred_hist_length      45000 non-null  int64
 11  credit_score                    45000 non-null  int64
 12  previous_loan_defaults_on_file  45000 non-null  object
 13  loan_status                     45000 non-null  int64
dtypes: float64(2), int64(7), object(5)
memory usage: 4.8+ MB

In [11]:
loan.dtypes

person_age                          int64
person_gender                      object
person_education                   object
person_income                       int64
person_emp_exp                      int64
person_home_ownership              object
loan_amnt                           int64
loan_intent                        object
loan_int_rate                     float64
loan_percent_income               float64
cb_person_cred_hist_length          int64
credit_score                        int64
previous_loan_defaults_on_file     object
loan_status                         int64
dtype: object

# cleaning Data

In [7]:
print(loan.isnull().sum())

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_int_rate                     0
loan_percent_income               0
cb_person_cred_hist_length        0
credit_score                      0
previous_loan_defaults_on_file    0
loan_status                       0
dtype: int64

In [12]:
loan.describe()

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
count,45000.000000,4.500000e+04,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000
mean,27.764178,8.031905e+04,5.410333,9583.157556,11.006606,0.139725,5.867489,632.608756,0.222222
std,6.045108,8.042250e+04,6.063532,6314.886691,2.978808,0.087212,3.879702,50.435865,0.415744
min,20.000000,8.000000e+03,0.000000,500.000000,5.420000,0.000000,2.000000,390.000000,0.000000
25%,24.000000,4.720400e+04,1.000000,5000.000000,8.590000,0.070000,3.000000,601.000000,0.000000
50%,26.000000,6.704800e+04,4.000000,8000.000000,11.010000,0.120000,4.000000,640.000000,0.000000
75%,30.000000,9.578925e+04,8.000000,12237.250000,12.990000,0.190000,8.000000,670.000000,0.000000
max,144.000000,7.200766e+06,125.000000,35000.000000,20.000000,0.660000,30.000000,850.000000,1.000000

# Outlier Detection

In [22]:
numerical_columns = loan.select_dtypes(include=['float64', 'int64']).columns.tolist()
print("Numerical Columns:", numerical_columns)

Numerical Columns: ['person_age', 'person_income', 'person_emp_exp', 'loan_amnt', 'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length', 'credit_score', 'loan_status']

In [30]:
def detect_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)  # 25th percentile (Q1)
    Q3 = data[column].quantile(0.75)  # 75th percentile (Q3)
    IQR = Q3 - Q1  # Interquartile range
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = data[(data[column] < lower_bound) | (data[column] > upper_bound)]
    return outliers, lower_bound, upper_bound

In [32]:
outliers_info = {}
for column in numerical_columns:
    outliers, lower, upper = detect_outliers_iqr(loan, column)
    outliers_info[column] = {
        "Number of Outliers": len(outliers),
        "Lower Bound": lower,
        "Upper Bound": upper,
    }
    print(f"\nColumn: {column}")
    print(f"Lower Bound: {lower}")
    print(f"Upper Bound: {upper}")
    print(f"Number of Outliers: {len(outliers)}")

Column: person_age
Lower Bound: 15.0
Upper Bound: 39.0
Number of Outliers: 2188

Column: person_income
Lower Bound: -25673.875
Upper Bound: 168667.125
Number of Outliers: 2218

Column: person_emp_exp
Lower Bound: -9.5
Upper Bound: 18.5
Number of Outliers: 1724

Column: loan_amnt
Lower Bound: -5855.875
Upper Bound: 23093.125
Number of Outliers: 2348

Column: loan_int_rate
Lower Bound: 1.9899999999999993
Upper Bound: 19.59
Number of Outliers: 124

Column: loan_percent_income
Lower Bound: -0.10999999999999999
Upper Bound: 0.37
Number of Outliers: 744

Column: cb_person_cred_hist_length
Lower Bound: -4.5
Upper Bound: 15.5
Number of Outliers: 1366

Column: credit_score
Lower Bound: 497.5
Upper Bound: 773.5
Number of Outliers: 467

Column: loan_status
Lower Bound: 0.0
Upper Bound: 0.0
Number of Outliers: 10000

In [36]:
loan_data_no_outliers = loan.copy()
for column in numerical_columns:
    _, lower, upper = detect_outliers_iqr(loan, column)
    loan_data_no_outliers = loan_data_no_outliers[
        (loan_data_no_outliers[column] >= lower) & (loan_data_no_outliers[column] <= upper)
    ]

print("\nShape of Dataset Before Removing Outliers:", loan.shape)
print("Shape of Dataset After Removing Outliers:", loan_data_no_outliers.shape)

Shape of Dataset Before Removing Outliers: (45000, 23)
Shape of Dataset After Removing Outliers: (29562, 23)

# cap outliers

In [38]:
import numpy as np
loan_data_capped = loan.copy()
for column in numerical_columns:
    _, lower, upper = detect_outliers_iqr(loan_data_capped, column)
    loan_data_capped[column] = np.where(
        loan_data_capped[column] < lower, lower,
        np.where(loan_data_capped[column] > upper, upper, loan_data_capped[column])
    )

In [41]:
loan_cleaned = loan_data_capped

print("\nFinal Cleaned Dataset:")
print(loan_cleaned.head())

Final Cleaned Dataset:
   person_age person_gender person_education  person_income  person_emp_exp  \
0        22.0        female           Master        71948.0             0.0
1        21.0        female      High School        12282.0             0.0
2        25.0        female      High School        12438.0             3.0
3        23.0        female         Bachelor        79753.0             0.0
4        24.0          male           Master        66135.0             1.0

  person_home_ownership  loan_amnt loan_intent  loan_int_rate  \
0                  RENT  23093.125    PERSONAL          16.02
1                   OWN   1000.000   EDUCATION          11.14
2              MORTGAGE   5500.000     MEDICAL          12.87
3                  RENT  23093.125     MEDICAL          15.23
4                  RENT  23093.125     MEDICAL          14.27

   loan_percent_income  ...  loan_status  person_age_zscore  \
0                 0.37  ...          0.0          -0.953538
1                 0.08  ...          0.0          -1.118963
2                 0.37  ...          0.0          -0.457264
3                 0.37  ...          0.0          -0.788113
4                 0.37  ...          0.0          -0.622689

  person_income_zscore  person_emp_exp_zscore  loan_amnt_zscore  \
0            -0.104090              -0.892284          4.024953
1            -0.846005              -0.892284         -1.359209
2            -0.844065              -0.397517         -0.646600
3            -0.007039              -0.892284          4.024953
4            -0.176371              -0.727362          4.024953

   loan_int_rate_zscore  loan_percent_income_zscore  \
0              1.683039                    4.016394
1              0.044782                   -0.684829
2              0.625557                    3.443074
3              1.417829                    3.443074
4              1.095549                    4.475050

   cb_person_cred_hist_length_zscore  credit_score_zscore  loan_status_zscore
0                          -0.739109            -1.419814            1.870829
1                          -0.996863            -2.549975           -0.534522
2                          -0.739109             0.047412            1.870829
3                          -0.996863             0.840507            1.870829
4                          -0.481354            -0.924130            1.870829

[5 rows x 23 columns]

Save cleaned data to a new CSV file

In [42]:

loan_cleaned.to_csv('loan_cleaned.csv', index=False)
print("\nCleaned dataset saved as 'loan_cleaned.csv'.")

Cleaned dataset saved as 'loan_cleaned.csv'.

In [43]:
loan_cleaned.shape

(45000, 23)